.weeks-container {
  max-width: 900px;
  margin: 0 auto; /* center the container */
  padding: 20px;
  box-shadow: 0 6px 8px rgba(229, 119, 30, 0.5);
}
.info {
  position: fixed;
  background-color: rgba(56, 54, 54, 0.8);
  width: 8%;
  color: #fefae0;
}
.weeks-count {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  gap: 2px;
  width: 30%;
}
.instructions {
  padding-left: 10%;
}
.instructions p {
  margin-left: 1%;
}
.instructions-info {
  width: 36%;
}
.instructions-info p {
  font-family: "Josefin Sans", sans-serif;
  color: #264653;
  font-size: 1.4rem;
}
.lived,
.left {
  display: flex;
  align-items: center;
}
.lived-color {
  height: 15px;
  width: 15px;
  background: #e76f51;
}
.left-color {
  height: 15px;
  width: 15px;
  background: #adc178;
}
.weeks-lived {
  font-size: 1px;
  margin: 0.3%;
  height: 15px;
  width: 15px;
  background: #e76f51;
}
.weeks-left {
  font-size: 1px;
  margin: 0.3%;
  height: 15px;
  width: 15px;
  background: #adc178;
}
.weeks-lived:hover {
  transition: 0.3s;
  background: #7b2020;
  transform: scale(1.5);
}
.weeks-left:hover {
  transition: 0.3s;
  transform: scale(1.5);
  background: #73804f;
}
.footer-spacer {
  height: 50vh;
}
